body{
    background-image:url(phamacy.jpg);
}
#title{
    text-shadow:1px;

    -webkit-text-fill-color: aliceblue;
}
#p{
    text-shadow:black 20px;

    -webkit-text-fill-color: aliceblue;
}


#e{
    text-shadow:black 20px;

    -webkit-text-fill-color: aliceblue;
}
#facebook{
    color: #ffffff;
}

